*, ::before, ::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  li{
    list-style: none;
  }
  a{
    text-decoration: none;
    color: inherit;
  }
}

body{
  width: 100vw;
  height: 100vh;
  background: rgb(237,238,192);
  background: linear-gradient(90deg, rgba(237,238,192,0.5) 5%, rgba(167,162,132,0.2) 100%);
}