.tapbar{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 80px;
  background-color: white;
  box-shadow: -1px 0 5px #edeec0;
}

.widgetlist{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}